div{
    border: 2px solid red;
}

.title{
    text-align: center;
    padding-top: 1%;
}

.logo{
    width: 20%;
    height: 20%;
}

.container{
    text-align: center;
}

.selector { 
    display: inline-block;
}

